/* Styles that affect all pages */
@media (min-width: 768px) {
  .navigation {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  #members.grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (min-width: 768px) {
  .home main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
  }

  .spotlights div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {

  /* ------------------ Layout ------------------ */
  .join-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
  }

  .membership-cards {
    margin-top: 0;
  }

  /* ------------------ Cards ------------------ */
  .membership-cards .card {
    transition: transform 0.3s ease;
  }

  .membership-cards .card:hover {
    transform: translateY(-5px);
  }

}
