@media (min-width: 768px) {
  .navigation {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  #members.grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
