/* Styles that affect all pages */
@media (min-width: 768px) {
  .navigation {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  #members.grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/* Styles that affect only the home page */
@media (min-width: 768px) {
  .home main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
  }

  .home .spotlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .home .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
